body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #8399e6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ff0000;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.logo h1 {
    font-size: 24px;
    color: #333;
}

.hero {
    background: url('https://img.freepik.com/premium-photo/crop-black-shoes-isolated-black-background_146508-700.jpg') no-repeat center center/cover;
    color: #d32727;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
}

.cta-button {
    background: #e94e77;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background: #d9436c;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.product-grid, .best-seller-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.product {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product:hover img {
    transform: scale(1.05);
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-name {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.about-us p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.8;
}

footer {
    background: #5e5e5e;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}
